<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toogleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="flex justify-end w-full">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon> Keluar
        </button>
      </mat-menu>
      <!--<button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>-->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
