<div class="flex justify-end">
  <button mat-icon-button mat-dialog-close color="primary" tabindex="-1">
      <mat-icon color="primary">close</mat-icon>
  </button>
</div>

<mat-dialog-content class="w-full">
  <ng-container *ngIf="data.feedback">
    <div class="flex flex-col gap-y-10 p-6">
      <div class="grid grid-cols-2 gap-x-4">
        <div class="inline-flex flex-wrap items-start gap-2">
          <span class="font-medium my-0">Kategori Fitur:</span>
          <span>{{ data.feedback.featureCategory }}</span>
          <star-rating [rating]="data.feedback.rating"></star-rating>
        </div>
  
        <div class="inline-flex flex-col items-end gap-y-2">
          <span>{{ data.feedback.createdAt.date }}</span>
          <span>{{ data.feedback.createdAt.time }}</span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <label class="font-medium">Email</label>
        <div class="flex gap-x-4">
          <span>:</span>
          <span>{{ data.feedback.user.email }}</span>
        </div>
  
        <label class="font-medium">Username</label>
        <div class="flex gap-x-4">
          <span>:</span>
          <span>{{ data.feedback.user.username }}</span>
        </div>

        <label class="font-medium">Ulasan</label>
        <div class="flex gap-x-4">
          <span>:</span>
          <span>{{ data.feedback.review }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>
