:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .profile-card {
    text-align: center;
    margin-bottom: 1rem;

    img {
      width: 100px;;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
