<mat-nav-list>
  <h2 matSubheader>Menu</h2>
  <!-- <a mat-list-item [routerLink]="['/dashboard']">
    <mat-icon color="primary">dashboard</mat-icon> &nbsp; Dashboard
  </a> -->
  <a mat-list-item [routerLink]="['/']">
    <mat-icon color="primary">people</mat-icon> &nbsp; Perkembangan Pengguna
  </a>
  <a mat-list-item [routerLink]="['/moods-growth']">
    <mat-icon color="primary">mood</mat-icon> &nbsp; Perkembangan Mood
  </a>
  <a mat-list-item [routerLink]="['/articles']">
    <mat-icon color="primary">library_books</mat-icon> &nbsp; Kelola Artikel
  </a>
  <a mat-list-item [routerLink]="['/themes']">
    <mat-icon color="primary">color_lens</mat-icon> &nbsp; Kelola Tema
  </a>
  <h2 matSubheader>Umpan Balik</h2>
  <a mat-list-item [routerLink]="['/chatbot-feedbacks']">
    <mat-icon color="primary">chat</mat-icon> &nbsp; Chatbot
  </a>
  <a mat-list-item [routerLink]="['/app-feedbacks']">
    <mat-icon color="primary">phone_android</mat-icon> &nbsp; Aplikasi
  </a>
</mat-nav-list>
