<button class="float-right" mat-mini-fab color="warn" (click)="resetForm()">
  <mat-icon>clear</mat-icon>
</button>

<form [formGroup]="createArticleForm" (ngSubmit)="onSubmit()" class="relative clear-both">
  <div class="absolute z-10 flex w-full h-full bg-black bg-opacity-50" *ngIf="utilitiesService.isLoading | async">
    <mat-spinner class="m-auto"></mat-spinner>
  </div>

  <div class="flex flex-col items-center gap-y-4">
    <img [src]="headerImage" alt="" class="border rounded-xl object-contain w-96 h-28">
    <input type="file" (change)="onSelectFile($event)">
  </div>

  <mat-card class="mat-elevation-z8 w-3/5 mx-auto mt-8">
    <mat-progress-bar mode="indeterminate" *ngIf="utilitiesService.isLoading | async" ></mat-progress-bar>
    <mat-card-content class="flex flex-col gap-y-4">
      <mat-form-field class="w-full">
        <mat-label>Judul</mat-label>
        <input matInput formControlName="title" placeholder="Judul">
        <mat-error *ngIf="title.hasError('required')">Judul tidak boleh kosong.</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Ringkasan pendek</mat-label>
        <textarea matInput formControlName="shortSummary" rows="5" placeholder="Ringkasan pendek"></textarea>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Penulis</mat-label>
        <input matInput formControlName="author" placeholder="Penulis">
        <mat-error *ngIf="author.hasError('required')">Penulis tidak boleh kosong.</mat-error>
      </mat-form-field>

      <mat-form-field class="w-fit-content">
        <mat-label>Waktu posting</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="postedAt" placeholder="Waktu posting">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="postedAt.hasError('required')">Waktu posting tidak boleh kosong.</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <input matInput formControlName="reviewedBy" placeholder="Diulas oleh">
        <mat-error *ngIf="reviewedBy.hasError('required')">Diulas tidak boleh kosong.</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div class="mt-8 mb-8">
    <span class="text-red-600 italic" *ngIf="content.hasError('required')">Isi konten tidak boleh kosong.</span>
    <div class="mat-elevation-z8 mt-2">
      <mat-progress-bar mode="indeterminate" *ngIf="utilitiesService.isLoading | async"></mat-progress-bar>
      <quill-editor formControlName="content" [styles]="{ height: '30rem' }" (onEditorChanged)="onEditorChanged($event)"></quill-editor>
    </div>
  </div>

  <div class="text-center">
    <button mat-raised-button color="primary">Simpan</button>
  </div>
</form>
