<div class="flex justify-between gap-x-4">
  <div></div>
  <button mat-mini-fab color="primary" (click)="loadData()">
    <mat-icon [ngClass]="{ 'animate-spin': utilitiesService.isLoading | async }">sync</mat-icon>
  </button>
</div>

<div class="flex flex-col gap-y-12">
  <div class="inline-flex flex-col gap-y-2">
    <h1 class="text-lg font-medium my-0">Kelompok Usia Pengguna</h1>
    <span class="text-sm italic">
      *Data dibawah ini ditampilkan bedasarkan seluruh data umpan balik aplikasi dengan kelompok usia penggunanya.
    </span>
  </div>

  <div class="flex flex-wrap justify-center items-center gap-14">
    <mat-card class="mat-elevation-z8">
      <mat-progress-bar mode="indeterminate" *ngIf="utilitiesService.isLoading | async"></mat-progress-bar>

      <div class="flex relative p-6">
        <ng-container *ngIf="appFeedbacksGroupByRating.length">
          <div class="absolute inset-0 flex bg-black bg-opacity-50" *ngIf="utilitiesService.isLoading | async">
            <mat-spinner class="m-auto"></mat-spinner>
          </div>

          <pie-chart [data]="appFeedbacksGroupByRating" [colorScheme]="{ domain: pieChartColors }">
          </pie-chart>
        </ng-container>
      </div>
    </mat-card>

    <div class="grid grid-cols-2 gap-8">
      <ng-container *ngFor="let item of appFeedbacksGroupByRatingCards | keyvalue; let i= index;">
        <mat-card class="mat-elevation-z8 p-5" [style.background-color]="pieChartColors[i]">
          <div class="flex flex-col gap-y-2 text-md text-white font-medium">
            <span>{{ item.value.group }}</span>
            <span>Rata-rata usia pengguna: {{ item.value.userAverageAge > 0 ? item.value.userAverageAge+' tahun' : '-'
              }}</span>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>

<div class="flex flex-col gap-y-12 mt-16">
  <div class="inline-flex flex-col gap-y-2">
    <h1 class="text-lg font-medium my-0">Perkembangan Umpan Balik Aplikasi</h1>
    <span class="text-sm italic">*Data dibawah ini menampilkan perkembangan umpan balik aplikasi dalam kurun waktu ke
      waktu.</span>
    <span class="text-sm italic">*Dalam per bulan menampilkan rata-rata nilai rating umpan balik.</span>
  </div>

  <mat-form-field appearance="fill" class="w-fit-content mx-auto">
    <mat-label>Pilih tanggal awal dan akhir</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="appFeedbacksGrowthRangePicker">
      <input matStartDate placeholder="Tanggal awal" formControlName="startDate">
      <input matEndDate placeholder="Tanggal akhir" formControlName="endDate">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-card class="mat-elevation-z8 mx-auto">
    <mat-progress-bar mode="indeterminate" *ngIf="utilitiesService.isLoading | async"></mat-progress-bar>

    <ng-container *ngIf="appFeedbacksGrowthByYear.length">
      <div class="relative flex p-2">
        <div class="absolute inset-0 flex bg-black bg-opacity-50" *ngIf="utilitiesService.isLoading | async">
          <mat-spinner class="m-auto"></mat-spinner>
        </div>

        <bar-chart [data]="appFeedbacksGrowthByYear" [xAxisLabel]="'Tahun'" [yAxisLabel]="'Rata-rata Nilai Rating'">
        </bar-chart>
      </div>
    </ng-container>
  </mat-card>
</div>
