<div class="flex flex-col gap-y-4">
  <div class="flex justify-between items-center gap-x-2">
    <div class="flex gap-x-2">
      <span class="font-medium">Total:</span>
      <span>{{ tableDataSource ? tableDataSource.data.length : 0 }} tema</span>
    </div>
    <button mat-mini-fab color="primary" (click)="loadThemes()">
      <mat-icon [ngClass]="{ 'animate-spin': utilitiesService.isLoading | async }">sync</mat-icon>
    </button>
  </div>

  <div class="flex justify-center">
    <mat-form-field class="w-1/2">
      <mat-label>Cari artikel</mat-label>
      <input matInput (input)="onSearch($event)">
    </mat-form-field>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="utilitiesService.isLoading | async"></mat-progress-bar>

  <div class="mat-elevation-z8 relative">
    <div class="absolute z-10 flex w-full h-full bg-black bg-opacity-50" *ngIf="utilitiesService.isLoading | async">
      <mat-spinner class="m-auto"></mat-spinner>
    </div>

    <table class="w-full" mat-table [dataSource]="tableDataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nama</th>
        <td mat-cell *matCellDef="let theme">{{ theme.name }}</td>
      </ng-container>

      <ng-container matColumnDef="primaryColor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Warna Utama</th>
        <td mat-cell *matCellDef="let theme">
          <div class="flex gap-x-2">
            <ng-container *ngFor="let item of theme.colors | keyvalue">
              <div
                *ngIf="item.key !== 'primaryRgb' && item.key !== 'primaryContrast' && item.key !== 'primaryContrastRgb'"
                class="rounded-full w-6 h-6" [style.background]="item.value">
              </div>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let theme"
          [ngClass]="{ 'text-green-500': theme.isActive, 'text-red-500': !theme.isActive }">
          {{ theme.isActive ? 'Aktif' : 'Tidak aktif' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let theme">
          <button mat-icon-button color="primary" (click)="onViewEdit(theme)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button (click)="onViewEdit(theme, true)" class="text-green-500">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onRemove(theme)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">-Tema tidak ditemukan-</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</div>
